{% extends "base.html" %}

{% block content %}
<div id="side-bar">
    <img id="logo" src="/assets/logo.png" alt="">
    <a title="图像处理" href="#pic"><img src="/assets/picture.png" alt=""></a>
    <a title="格式转换" href="#geui"><img src="/assets/format.png" alt=""></a>
    <a title="脑图问卷" href="#nctu"><img src="/assets/mind.png" alt=""></a>
    <a title="幻灯文档" href="#hrdg"><img src="/assets/ppt.png" alt=""></a>
    <a title="搜索引擎" href="#szso"><img src="/assets/search.png" alt=""></a>
    <a title="AI工具" href="#ai"><img src="/assets/ai.png" alt=""></a>
    <a title="摸鱼趣站" href="#moyu"><img src="/assets/moyu.png" alt=""></a>
</div>
<div id="main">
    <div id="top-bar" class="escape">
        <div id="menu">
            <a href="#">
                <img src="/assets/home.png" alt="">
                <span>首页</span>
            </a>
            <div onclick="author()">
                <img src="/assets/author.png" alt="">
                <span>作者</span>
            </div>
            <div onclick="about()">
                <img src="/assets/about.png" alt="">
                <span>关于</span>
            </div>
        </div>
        <div id="slogan">
            <div>懒人导航 |<span id="word">扫清你的糟心事儿😎</span></div>
            <span>你还在为找不到在线工具而心烦吗？你还在为收藏夹混乱不堪而苦恼吗？</span>
        </div>
    </div>
    <div id="content">
        {{ section.content | safe }}
        <div id="btm-bar">
            <div>源于热爱，始于真🤎</div>
            <div style="font-size: smaller;">由zola驱动 | ©2024 
                <a style="text-decoration: none;color: rgba(36, 36, 36, 0.685);"
                    href="https://github.com/anccnuer">Cheung Heron</a>
            </div>
        </div>
    </div>
</div>
<dialog id="dialog">
    <h2 id="dialog-title">这是标题</h2>
    <div id="dialog-content"></div>
    <div id="button" onclick="exit()">关闭</div>
</dialog>
{% endblock content %}